.navbar-default .navbar-brand {
    color: #FFF;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.download-box {
	margin-top: 25px;
	margin-bottom: 25px;
}

.img-download {
	margin-bottom: 10px;
}
